Source: python-dhcplib
Section: python
Priority: extra
Maintainer: Rodrigo Sampaio Vaz <rodrigo.vaz@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://github.com/dsouza/pydhcplib

Package: python-dhcplib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: python dhcp server and client lib
 Pydhcplib is a python library to read/write and encode/decode dhcp packet on network.

 N.B. This is a fork of this project http://pydhcplib.tuxfamily.org/pmwiki/. The only change [so far] is the implementation of a missing feature as described in the end of this document
